* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px;
    font-weight: 900;

}

body {
    height: 100vh;
    background-color: #D6DBDF;
}

/* top */
nav {

    height: 10vh;
    min-height: 10rem !important;
    background-color: #374954;
}

input {
    width: 60vw;
    height: 5rem;
    font-size: 3rem;
    outline: none;
    background-color: #4F6877;
    border: none;
    border: 3px #6BBE92 solid;
    border-right: none;
    padding: 1rem;
    color: white;
    font-weight: 500;

}

.addBtn {
    color: rgba(107, 190, 146, .7);
    border: 3px #6BBE92 solid;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    transition: all 350ms;


}

.addBtn:hover {
    color: #6BBE92;
}

.addBtn:active {
    color: #6BBE92;
    transition: rotate 450ms;
    transform: rotatey(360deg);
}

/* content */

section {
    height: 90vh;

}




li {
    background-color: white;
    width: 90vw;
    margin: 1rem;

    padding: 1rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.8rem;
    transition: all 0.5s;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;

}

li:hover {
    color: #1b4730;
}

li i {
    color: grey;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    position: sticky;
}

li i:hover {
    color: red;
    transform: rotate(180deg)
}

li:first-child {
    border-radius: 20px 20px 0 0;
}

li:last-child {
    border-radius: 0 0 20px 20px;
}




/* utility classes */
.none {
    display: none !important;
}

.f {
    display: flex;
}

.column {
    flex-direction: column;
}

.jc {
    justify-content: center;
}

.jspace-a {
    justify-content: space-around;
}

.a {
    align-items: center;

}

.animate {
    opacity: 0;
    transform: rotatex(-90deg);
    transition: all 350ms;
}